.modal-container {
  position: absolute;
  top: 5%;
  left: 30%;
  width: 770px;
  outline: 1px solid #000;
  min-height: 800px;
  background-color: #f4f5f7;
}

.boards__list {
    background-color: rgb(0, 0, 0, 0.);
}

.checklist {
  margin: 1rem;
  padding: 1rem;
}

.checklistItem {
  display: grid;
  grid-template-columns: 50px auto 50px;
  padding: 0.5rem 0.35rem;
}

.side-col {
    padding: 1rem;
    margin: 1rem;
}

.add-to-card {
    text-transform: uppercase;
    font-size: 0.75rem;
    margin: 0.5rem 0;
}
